@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.btn {
  padding: $spacing-100 $spacing-250;
  background-color: var(--color-toggle);
  border: 1px solid var(--color-border-primary);
  border-radius: $radius-full;
  color: var(--color-text-primary);
  @include text-preset-3;
  box-shadow: 0px 1px 2px 0px rgba(184, 196, 215, 0.4);

  &.active {
    background-color: var(--color-toggle-active);
  }
}
