@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.app {
  min-height: 100vh;
  background: var(--color-bg);
  padding: $spacing-250 0 $spacing-800;

  :global(.container) {
    display: flex;
    flex-direction: column;
    gap: $spacing-500;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: $spacing-500;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(338px, 1fr));
  grid-template-rows: repeat(1, minmax(200px, auto));
  grid-auto-rows: minmax(200px, auto);
  gap: $spacing-150;
}

@media (min-width: 768px) {
  .app {
    padding-top: $spacing-300;
  }

  .content {
    gap: $spacing-400;
  }
}

@media (min-width: 1024px) {
  .app {
    padding-top: $spacing-500;

    :global(.container) {
      gap: $spacing-800;
    }
  }
}
